h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.1rem;
}
h1, h2, h3, h4, h5{
    font-weight: bolder;
}
h6 {
    font-weight: bold;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }
    h5 {
        font-size: 1rem;
    }
}
.bi.icon-only::before{
    vertical-align: middle;
}
.fs-6 {
    letter-spacing: 0.05rem;
    line-height: $line-height-base;
}

.rounded-tl-br {
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}
.badge:hover {
    background-color: $primary-400 !important;
    color: $white;
}