<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<title>一起探索生活的無限可能</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<section class="hero-banner container position-relative p-0 py-md-10 px-sm-2">
			<picture>
				<source media="(max-width: 768px)" srcset="../assets/images/banner-sm.png">
				<img class="img-fluid w-100" src="../assets/images/banner.png" alt="">
			</picture>
			<div class="text-box position-absolute translate-middle text-white ps-md-9 text-center text-md-start w-100">
				<h5 class="mb-2">獻給新世代的生活風格誌</h5>
				<h1 class="mb-5">一起探索生活的無限可能</h1>
				<button href="#" class="btn px-md-5 py-md-3 btn-accent-200 text-white">馬上訂閱<i class="bi bi-arrow-right ms-2"></i></button>
			</div>
		</section>
		<!-- 熱門主題 -->
		<section class="themes py-8 py-md-10">
			<div class="container">
				<h2 class="fw-bold mb-5">熱門主題</h2>
				<div class="row g-1 g-md-3">
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-1-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-1.png" alt="theme-1">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">城市漫遊者</h5>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-2-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-2.png" alt="theme-2">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">秘境尋蹤人</h5>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-3-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-3.png" alt="theme-3">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">品味設計家</h5>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-4-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-4.png" alt="theme-4">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">美食探險記</h5>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-5-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-5.png" alt="theme-5">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">美學建築誌</h5>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-6-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-6.png" alt="theme-6">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">慢活生活行</h5>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-7-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-7.png" alt="theme-7">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">工藝匠心賞</h5>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-3">
						<a href="#">
							<div class="theme-card position-relative overflow-hidden rounded-tl-br">
								<picture>
									<source srcset="../assets/images/theme-8-sm.png" media="(max-width: 768px)">		
									<img class="img-fluid w-100" src="../assets/images/theme-8.png" alt="theme-8">
								</picture>
								<h5 class="text-white position-absolute top-50 start-50 translate-middle mb-0">時尚先鋒派</h5>
							</div>
						</a>
					</div>
					
				</div>
			</div>
		</section>
		<!-- 精選文章 -->
		<section class="article container py-8 py-md-10">
			<div class="row">
				<div class="col-lg-4 d-flex flex-column justify-content-between">
					<h2 class="mb-5">精選文章</h2>
					<div class="d-none d-lg-block">
						<div class="mb-3">
							<p class="d-inline">1</p>
							<p class="d-inline text-light"> / </p>
							<p class="d-inline">5</p>
						</div>
						<div class="d-flex mt-3">
							<button class="rounded-pill border border-1 border-dark px-3 fs-4 bg-transparent"><i class="bi bi-arrow-left text-dark icon-only"></i></button>
							<hr class="line border-dark opacity-100 mx-3">
							<button class="rounded-pill border border-1 border-dark px-3 fs-4 bg-transparent"><i class="bi bi-arrow-right text-dark icon-only"></i></button>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card bg-transparent border-0 border-bottom border-1 border-dark rounded-0 h-100">
						<picture>
							<source srcset="../assets/images/article-banner-sm.png" media="(max-width: 768px)">		
							<img class="img-fluid w-100 card-img-top rounded-1 mb-4" src="../assets/images/article-banner.png" alt="article 1">
						</picture>
						<div class="card-body p-0 d-flex flex-column align-items-start">
							<h5 class="card-title fw-bolder">私人島嶼的露營奇遇記</h5>
							<p class="card-text text-gray-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
							<a href="#" class="btn btn-primary p-0 bg-transparent text-accent-200 fw-bold py-4 letter-spacing-1 mt-auto fs-5">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 d-none d-md-block">
					<div class="card bg-transparent border-0 border-bottom border-1 border-dark rounded-0 h-100">
						<picture>
							<source srcset="../assets/images/articles-2-sm.png" media="(max-width: 768px)">		
							<img class="img-fluid w-100 card-img-top rounded-1 mb-4" src="../assets/images/articles-2.png" alt="article 2">
						</picture>
						<div class="card-body p-0 d-flex flex-column">
							<h5 class="card-title fw-bolder">窺探米其林三星主廚的絕密手藝</h5>
							<p class="card-text text-gray-400">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
							<div class="d-flex justify-content-between align-items-center mt-auto">
								<a href="#" class="btn btn-primary p-0 bg-transparent text-accent-200 fw-bold py-4 letter-spacing-1 fs-5">Read More</a>
								<a class="badge bg-primary-300 letter-spacing-1 text-decoration-none" href="#">會員專屬</a>
							</div>	
						</div>
					</div>
				</div>
				<div class="d-block d-lg-none d-flex justify-content-between align-items-center mt-7">
					<div>
						<p class="d-inline">1</p>
						<p class="d-inline text-light"> / </p>
						<p class="d-inline">5</p>
					</div>
					<div class="d-flex">
						<button class="rounded-pill border border-1 border-dark px-3 fs-4 bg-transparent"><i class="bi bi-arrow-left text-dark icon-only"></i></button>
						<hr class="line border-dark opacity-100 mx-3">
						<button class="rounded-pill border border-1 border-dark px-3 fs-4 bg-transparent"><i class="bi bi-arrow-right text-dark icon-only"></i></button>
					</div>
				</div>
			</div>
		</section>
		<!-- 母親節強檔活動 -->
		<section class="sale bg-primary-200 position-relative py-8 py-md-10">
			<div class="container">
				<div class="row text-primary-400">
					<div class="col d-flex flex-column align-items-center">
						<h5 class="mb-3">\ 母親節強檔活動 /</h5>
						<h2 class="text-dark mb-4">家庭訂閱方案限時 7 折</h2>
						<ul class="text-left list-unstyled mb-0 text-gray-400" style="width: fit-content;">
							<li class="mb-3"><i class="bi bi-check me-2"></i>每月最新文章無限閱讀</li>
							<li class="mb-3"><i class="bi bi-check me-2"></i>專屬會員限定內容</li>
							<li class="mb-3"><i class="bi bi-check me-2"></i>定期電子報</li>
							<li class="mb-3"><i class="bi bi-check me-2"></i>年度精選禮物</li>
							<li class="mb-3"><i class="bi bi-check me-2"></i>24 /7 優先客戶服務</li>
							<li class="mb-7"><i class="bi bi-check me-2"></i>為每個成員量身打造專屬行程</li>
						</ul>
						<a href="#" class="btn px-md-5 py-md-3 btn-accent-200 text-white d-inline-block z-1">我想了解</a>
					</div>
				</div>
				<img class="position-absolute bottom-0 d-none d-sm-block decor-1" src="../assets/images/bg-1.png" alt="decoration 1" style="left: 5%">
				<picture>
					<source media="(max-width: 576px)" srcset="../assets/images/bg-2-sm.png">
					<img class="position-absolute bottom-0 decor-2" src="../assets/images/bg-2.png" alt="decoration 2">
				</picture>
			</div>
		</section>
		<!-- 大家都在看 -->
		<section class="container py-8 py-md-10">
			<div class="row">
				<h2 class="mb-7">大家都在看</h2>
				<div class="col-lg-3 d-none d-lg-block">
					<ul class="list-group text-secondary bg-white p-5 rounded-3 shadow h-100">
						<a href="#" class="h5 list-group-item list-group-item-action rounded-1 mb-5 border-0">
							<i class="bi bi-dot"></i>酒精路跑地圖
						</a>
						<a href="#" class="h5 list-group-item list-group-item-action rounded-1 mb-5 border-0 active" aria-current="true"><i class="bi bi-dot"></i>台北拉麵圖鑑</a>
						<a href="#" class="h5 list-group-item list-group-item-action rounded-1 mb-5 border-0"><i class="bi bi-dot"></i>海島自由行</a>
						<a href="#" class="h5 list-group-item list-group-item-action rounded-1 mb-5 border-0"><i class="bi bi-dot"></i>短天數出國推薦</a>
						<a href="#" class="h5 list-group-item list-group-item-action rounded-1 border-0"><i class="bi bi-dot"></i>週末露營趣</a>
					</ul>
				</div>
				<div class="col-lg-9 p-3 p-lg-7 bg-white rounded-3">
					<div class="p-5">
						<h4 class="text-accent-200 mb-5">酒精路跑地圖</h4>
						<ul class="list-unstyled">
							<li class="mb-4"><a href="#">｜城市酒吧人氣榜,盤點當紅熱門酒吧</a></li>
							<li class="mb-4"><a href="#">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</a></li>
							<li><a href="#">｜台南老宅手工酒藏,尋味百年人文釀意</a></li>
						</ul>
					</div>
					<img class="img-fluid rounded-1 w-100 d-block d-lg-none" src="../assets/images/hots-1-sm.png" alt="">
					<div class="rounded-4 overflow-hidden mx-3 justify-content-between d-none d-lg-flex">
						<img class="img-fluid rounded-bottom-1 me-sm" src="../assets/images/hots-1.png" alt="">
						<img class="img-fluid rounded-1 me-sm" src="../assets/images/hots-2.png" alt="">
						<img class="img-fluid rounded-1 me-sm" src="../assets/images/hots-3.png" alt="">
						<img class="img-fluid" src="../assets/images/hots-4.png" alt="">
					</div>
					<div class="p-5 d-flex justify-content-between align-items-center flex-column flex-md-row">
						<div>
							<a href="#" class="badge me-3 bg-primary-300">#夜貓行程</a>
							<a href="#" class="badge me-3 bg-primary-300">#barhopping</a>
							<a href="#" class="badge bg-primary-300">#全台酒吧</a>
						</div>
						<a href="#" class="btn px-md-5 py-md-3 text-accent-200">View More<i class="bi bi-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
		</section>
		<!-- 品味生活 -->
		<section class="container py-8 py-md-10">
			<div class="d-flex justify-content-between mb-7">
				<h2>品味生活</h2>
				<div class="d-md-flex d-none">
					<button class="rounded-pill border border-1 border-dark px-3 fs-4 bg-transparent"><i class="bi bi-arrow-left text-dark icon-only"></i></button>
					<hr class="line border-dark opacity-100 mx-3">
					<button class="rounded-pill border border-1 border-dark px-3 fs-4 bg-transparent"><i class="bi bi-arrow-right text-dark icon-only"></i></button>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-md-4">
					<div class="card border-0 h-100 align-items-center">
						<div class="card-body p-0 d-flex flex-column align-items-start">
							<div class="border-0 bg-transparent p-0 fs-1 text-primary-400 mb-6 align-self-start" style="font-size: 3.25rem;">
								食.
							</div>
							<picture>
								<source srcset="../assets/images/life-1-sm.png" media="(max-width: 768px)">		
								<img class="img-fluid w-100 card-img-top rounded-1 mb-6" src="../assets/images/life-1.png" alt="life picture 1">
							</picture>
							<ul class="card-text text-dark list-unstyled">
								<li class="mb-4"><a class="h5" href="#">｜米其林三星主廚的那些絕活傳奇</a></li>
								<li class="mb-4"><a class="h5" href="#">｜探秘成都的地道川味秘技與魅力</a></li>
								<li><a class="h5" href="#">｜義大利釀酒師對於酒的堅持執著</a></li>
							</ul>
							<a href="#" class="btn px-md-5 py-md-3 text-accent-200 mx-auto my-1 mt-auto">View More<i class="bi bi-arrow-right ms-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card border-0 h-100 align-items-center">
						<div class="card-body p-0 d-flex flex-column align-items-start">
							<div class="border-0 bg-transparent p-0 fs-1 text-primary-400 mb-6 align-self-start" style="font-size: 3.25rem;">
								藝.
							</div>
							<picture>
								<source srcset="../assets/images/life-2-sm.png" media="(max-width: 768px)">		
								<img class="img-fluid w-100 card-img-top rounded-1 mb-6" src="../assets/images/life-2.png" alt="life picture 1">
							</picture>
							<ul class="card-text text-dark list-unstyled">
								<li class="mb-4"><a class="h5" href="#">｜解構教主級時裝設計大師的獨特美學</a></li>
								<li class="mb-4"><a class="h5" href="#">｜當代攝影師鏡頭中的光影離奇</a></li>
								<li><a class="h5" href="#">｜帶你穿縮中世紀，夏季文藝復興展</a></li>
							</ul>
							<a href="#" class="btn px-md-5 py-md-3 text-accent-200 mx-auto my-1 mt-auto">View More<i class="bi bi-arrow-right ms-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card border-0 h-100 align-items-center">
						<div class="card-body p-0 d-flex flex-column align-items-start">
							<div class="border-0 bg-transparent p-0 fs-1 text-primary-400 mb-6 align-self-start" style="font-size: 3.25rem;">
								旅.
							</div>
							<picture>
								<source srcset="../assets/images/life-3-sm.png" media="(max-width: 768px)">		
								<img class="img-fluid w-100 card-img-top rounded-1 mb-6" src="../assets/images/life-3.png" alt="life picture 1">
							</picture>
							<ul class="card-text text-dark list-unstyled">
								<li class="mb-4"><a class="h5" href="#">｜遠離喧囂,偶探巴塔哥尼亞終界</a></li>
								<li class="mb-4"><a class="h5" href="#">｜東京深度六區,帶你細品極簡魅力</a></li>
								<li><a class="h5" href="#">｜專賣奇珍異寶的東歐地下夜市</a></li>
							</ul>
							<a href="#" class="btn px-md-5 py-md-3 text-accent-200 mx-auto my-1 mt-auto">View More<i class="bi bi-arrow-right ms-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Vivre 給你意想不到的生活風格提案 -->
		<section class="bg-primary-200 py-8 py-md-10">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 text-center text-md-start">
						<h5 class="text-gray-400 mb-3">今天又不知道要去哪裡了嗎？</h5>
						<h2 class="text-dark mb-6">Vivre <i class="d-block d-md-none mb-1"></i>給你意想不到的生活風格提案</h2>
						<button href="#" class="btn px-md-5 py-md-3 btn-accent-200 text-white">馬上訂閱<i class="bi bi-arrow-right ms-2"></i></button>
					</div>
					<div class="col-lg-6">
						<div class="container gx-0">
							<div class="row">
								<div class="col-md-6">
									<a class="pt-3 position-relative mb-7 d-block mt-9" href="#">
										<p class="decor text-accent-300 bg-white border border-1 border-accent-100 rounded-2 d-inline-block px-2 py-1 ms-3 position-absolute translate-middle-y"><i class="bi bi-caret-right-fill me-1"></i>人氣行程</p>
										<img class="img-fluid w-100" src="../assets/images/projects-2.png" alt="content 3">
										<div class="h6 text-white position-absolute d-flex bottom-0 justify-content-between w-100 p-2 p-3 bg-gradient-customize">親子露營要帶什麼？<i class="bi bi-arrow-right ms-2"></i></div>
									</a>
									<a class="pt-3 position-relative d-none d-md-block" href="#">
										<p class="decor text-accent-300 bg-white border border-1 border-accent-100 rounded-2 d-inline-block px-2 py-1 ms-3 position-absolute translate-middle-y"><i class="bi bi-caret-right-fill me-1"></i>編輯推薦</p>
										<img class="img-fluid w-100" src="../assets/images/projects-5.png" alt="content 3">
										<div class="h6 text-white position-absolute d-flex bottom-0 justify-content-between w-100 p-2 p-3 bg-gradient-customize">質感房間改造攻略！<i class="bi bi-arrow-right ms-2"></i></div>
									</a>
								</div>
								<div class="col-md-6 d-none d-md-block">
									<a class="pt-3 position-relative mb-7 d-block" href="#">
										<p class="decor text-accent-300 bg-white border border-1 border-accent-100 rounded-2 d-inline-block px-2 py-1 ms-3 position-absolute translate-middle-y"><i class="bi bi-caret-right-fill me-1"></i>編輯推薦</p>
										<img class="img-fluid w-100" src="../assets/images/projects-1.png" alt="content 3">
										<div class="h6 text-white position-absolute d-flex bottom-0 justify-content-between w-100 p-2 p-3 bg-gradient-customize">山女孩的健行筆記<i class="bi bi-arrow-right ms-2"></i></div>
									</a>
									<a class="pt-3 position-relative d-block" href="#">
										<p class="decor text-accent-300 bg-white border border-1 border-accent-100 rounded-2 d-inline-block px-2 py-1 ms-3 position-absolute translate-middle-y"><i class="bi bi-caret-right-fill me-1"></i>熱門文章</p>
										<img class="img-fluid w-100" src="../assets/images/projects-3.png" alt="content 3">
										<div class="h6 text-white position-absolute d-flex bottom-0 justify-content-between w-100 p-2 p-3 bg-gradient-customize">適合溜小孩的海邊景點推薦<i class="bi bi-arrow-right ms-2"></i></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 想看什麼主題由你決定！ -->
		<section class="container py-8 py-md-10">
			<div class="row justify-content-between">
				<h2 class="col-lg-8 text-center text-lg-start mb-3 mb-lg-0">想看什麼主題由你決定<span class="d-none d-lg-inline-block">！</span></h2>
				<div class="col-lg-4 text-center text-lg-end">
					<h4 class="mb-3">歡迎投稿與我們分享</h4>
					<button href="#" class="btn px-md-5 py-md-3 btn-accent-200 text-white">聯絡我們</button>
				</div>
			</div>
		</section>
		
		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
